
#menu{
  background-color: #4169E1;
  width: 100%;
  height: 12%;
 position: absolute;

 opacity: 0.8;
}
#logo{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  margin-left: 20px;
  width: 15%;
  height: 250%;
  position: absolute;
}
#botao1{
 position: absolute;
 text-decoration: none;
 color: white;
 font-size: 120%;
 margin-left: 60%;
 margin-top: 2.2%;
}
#botao1:hover{
  text-decoration:underline;
}
#botao2:hover{
  text-decoration:underline;
}
#botao3:hover{
  text-decoration:underline;
}


#botao2{
 position: absolute;
 text-decoration: none;
 color: white;
 font-size: 120%;
 margin-left: 75%;
 margin-top: 2.2%;
}
#botao3{
 position: absolute;
 text-decoration: none;
 color: white;
 font-size: 120%;
 margin-left: 90%;
 margin-top: 2.2%;
}

#back{
  width: 100%;
  height: 660px;
}

#whats{
  position: absolute;
  margin-left: 4px;
  margin-top: 570px;
  height: 80px;
  width: 80px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}

#maps{
  position: absolute;
  margin-left: 94%;
  margin-top: 570px;
  height: 80px;
  width: 80px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
#trat{
  position: absolute;
  margin-top: 40px;
  margin-left: 34%;
  color: black;
  font-size: 50px;
}

.card1{
  position: absolute;
  height: 130px;
  width: 400px;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: 80px;
  background-color: #00BFFF;
box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.card2{
  position: relative;
  height: 130px;
  width: 400px;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: 500px;
  background-color: #00BFFF;
box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.card-title{
 color: black;
  margin-top: 30px;
}

#foto1{
  height: 150px;
  width: 150px;
  top: 300px;
  left: 200px;
  position: absolute;
}

#tit{
  position: absolute;
  font-size: 70px;
  top: 100px;
  left:500px;
}

@media(max-width: 1000px){
  #menu{
    background-color: #4169E1;
    width: 100%;
    height: 12%;
    position: fixed;
   opacity: 0.8;
  }
  #logo{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    margin-left: 20px;
    width: 20%;
    height: 150%;
    position: absolute;
  }
  #botao1{
   position: absolute;
   text-decoration: none;
   color: white;
   font-size: 200%;
   margin-left: 30%;
   margin-top: 7%;
  }
  #botao1:hover{
    text-decoration:underline;
  }
  #botao2:hover{
    text-decoration:underline;
  }
  #botao3:hover{
    text-decoration:underline;
  }


  #botao2{
   position: absolute;
   text-decoration: none;
   color: white;
   font-size: 200%;
   margin-left: 55%;
   margin-top: 7%;
  }
  #botao3{
   position: absolute;
   text-decoration: none;
   color: white;
   font-size: 200%;
   margin-left: 80%;
   margin-top: 7%;
  }

  #back{
    width: 105%;
    height: 180%;
  }

  #whats{
    position: absolute;
    margin-left: 4px;
    margin-top: 120%;
    height: 150px;
    width: 150px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  }

  #maps{
    position: absolute;
    margin-left: 84%;
    margin-top: 120%;
    height: 150px;
    width: 150px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  }

  #trat{
    position: absolute;
    margin-top: 40px;
    margin-left: 32%;
    color: black;
    font-size: 50px;
  }

  .card1{
    position: absolute;
    height: 130px;
    width: 400px;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 80px;
    background-color: #00BFFF;
box-shadow: 5px 5px 5px rgba(0,0,0,0.5);

  }
  .card2{
    position: relative;
    height: 130px;
    width: 400px;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 500px;
    background-color: #00BFFF;
box-shadow: 5px 5px 5px rgba(0,0,0,0.5);

  }
  .card-title{
   color: black;
    margin-top: 30px;
  }
}
