#menu{
  background-color: #4169E1;
  width: 100%;
  height: 12%;
  position: fixed;
 opacity: 0.8;
}
#logo{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  margin-left: 20px;
  width: 15%;
  height: 250%;
  position: absolute;
}
#botao1{
 position: absolute;
 text-decoration: none;
 color: white;
 font-size: 120%;
 margin-left: 60%;
 margin-top: 2.2%;
}
#botao1:hover{
  text-decoration:underline;
}
#botao2:hover{
  text-decoration:underline;
}
#botao3:hover{
  text-decoration:underline;
}


#botao2{
 position: absolute;
 text-decoration: none;
 color: white;
 font-size: 120%;
 margin-left: 75%;
 margin-top: 2.2%;
}
#botao3{
 position: absolute;
 text-decoration: none;
 color: white;
 font-size: 120%;
 margin-left: 90%;
 margin-top: 2.2%;
}

#back{
  width: 100%;
  height: 660px;
}

#whats{
  position: absolute;
  margin-left: 4px;
  margin-top: 570px;
  height: 80px;
  width: 80px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}

#maps{
  position: absolute;
  margin-left: 94%;
  margin-top: 570px;
  height: 80px;
  width: 80px;
  box-shadow: 0px 5px 5px rgba(1,1,1,0.5);
}


@media(max-width: 1000px){
  #menu{
    background-color: #4169E1;
    width: 100%;
    height: 12%;
    position: fixed;
   opacity: 0.8;
  }
  #logo{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    margin-left: 20px;
    width: 20%;
    height: 150%;
    position: absolute;
  }
  #botao1{
   position: absolute;
   text-decoration: none;
   color: white;
   font-size: 200%;
   margin-left: 30%;
   margin-top: 7%;
  }
  #botao1:hover{
    text-decoration:underline;
  }
  #botao2:hover{
    text-decoration:underline;
  }
  #botao3:hover{
    text-decoration:underline;
  }


  #botao2{
   position: absolute;
   text-decoration: none;
   color: white;
   font-size: 200%;
   margin-left: 55%;
   margin-top: 7%;
  }
  #botao3{
   position: absolute;
   text-decoration: none;
   color: white;
   font-size: 200%;
   margin-left: 80%;
   margin-top: 7%;
  }

  #back{
    width: 105%;
    height: 180%;
  }

  #whats{
    position: absolute;
    margin-left: 4px;
    margin-top: 120%;
    height: 150px;
    width: 150px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  }

  #maps{
    position: absolute;
    margin-left: 84%;
    margin-top: 120%;
    height: 150px;
    width: 150px;
    box-shadow: 0px 5px 5px rgba(1,1,1,0.5);
  }

}
